<footer>
    <div class="container">
        <div class="footer" id="footer_scroll">
            <div class="footer_logo">
                <img class="footer_logo_img" src="{{ 'assets/img/logo.png'|theme}}" alt="">

            </div>
            <div class="footer_menu">
                <div class="footer_title">ПОКУПАТЕЛЮ</div>
                <div class="footer_elem">Каталог</div>
                <div class="footer_elem">Доставка и оплата</div>
                <div class="footer_elem">Отзывы</div>
                <div class="footer_elem">Возврат</div>

            </div>
            <div class="footer_contact">
                <div class="footer_title">КОНТАКТЫ</div>
                <div class="footer_elem">Украина, Днепр</div>
                <div class="footer_elem">+380981109687</div>
                <div class="footer_elem">+380981109687</div>
                <div class="footer_elem">meshtli4444@gmail.com</div>
            </div>
            <div class="footer_social">
                <div class="footer_social_block">
                    <img src="{{ 'assets/img/facebook.png'|theme}}" alt="" class="img_social">
                    <img src="{{ 'assets/img/instagram.png'|theme}}" alt="" class="img_social">
                    <img src="{{ 'assets/img/youtube.png'|theme}}" alt="" class="img_social">

                </div>
                <div class="footer_social_block cards">
                    <img src="{{ 'assets/img/visa.png'|theme}}" alt="" class="img_card">
                    <img src="{{ 'assets/img/mastercard.png'|theme}}" alt="" class="img_card">
                </div>
            </div>
        </div>
    </div>
</footer>