<header>
    <div class="header_container">
        <a href="{{ '/alize'}}">
            <div class="logo"></div>
        </a>
        <nav class="shift">
            <ul class="header_elem">
                <li><a href="{{ '/alize/catalog'}}">Каталог</a></li>
                <li><a href="{{ '/alize/dostavka-i-oplata'}}">Доставка&nbspи&nbspоплата</a></li>
                <li><a href="#footer_scroll">Контакты</a></li>
                <li><a href="">Отзывы</a></li>

            </ul>
        </nav>
        <div class="search_container"><input type="text" class="search">
            <i class="fa fa-search"></i>
        </div>
        <a href="{{ '/alize/account'}}" class="login_header"></a>
        <div class="bag" data-fancybox data-src="#modal_cart">

            <div class="bag_counter"></div>

        </div>
    </div>
</header>